// Imports
@import "../base/fonts";
@import "../base/colors";

.HeroSwiperSlider {
	.externalLink {
		font-family: $main;
	}

	.swiper-button-prev,
	.swiper-button-next {
		@apply mt-64 lg:mt-0 w-16 h-16 p-8 border-2 border-primary-default hover:border-primary-dark text-primary-default hover:text-primary-dark;

		top: 85% !important;

		@media screen and (min-width: 1024px) {
			top: 50% !important;
		}
	}

	.swiper-button-prev::after {
		content: "next";
		width: 15px !important;
		height: 15px !important;
		font-size: 15px !important;
		font-weight: 900 !important;
		color: $white !important;
	}

	.swiper-button-next::after {
		content: "next";
		width: 15px !important;
		height: 15px !important;
		font-size: 15px !important;
		font-weight: 900 !important;
		color: $white !important;
	}
}

.heroTwo {
	.externalLink {
		font-family: $main;
	}

	.leftSideContent {
		clip-path: none;

		@media screen and (min-width: 1024px) {
			clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
		}
	}

	.rightSideContent {
		clip-path: none;

		@media screen and (min-width: 1024px) {
			clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%);
		}
	}
}
