// Imports
@import "../../base/fonts";
@import "../../base/colors";

.titleContentImage {
	@apply bg-white py-12 px-4 lg:px-8 lg:py-24;

	.wrapper {
		@apply xl:max-w-[1700px] mx-auto px-0 flex flex-col lg:flex-row items-center justify-center gap-8 -m-4;

		.image {
			@apply w-full h-[350px] lg:h-[700px] object-cover object-center;
		}

		.content {
			@apply flex flex-col items-center lg:items-start justify-end h-full;

			.title {
				@apply mb-4 font-OnestBold text-pureBlack text-5xl sm:text-6xl md:text-7xl 2xl:text-8xl text-center lg:text-left tracking-[-0.05rem] leading-[0.90];
			}

			.paragraph {
				@apply my-6 lg:mt-14 lg:max-w-lg mx-auto lg:mx-0 font-OnestRegular leading-normal text-pureBlack text-lg text-center lg:text-left;

				span {
					a {
						@apply font-thin font-OnestRegular text-lg underline tracking-[0.02rem] text-primary-default hover:text-accent-default transition-all duration-500 ease-in-out;
					}
				}
			}

			.buttonLink {
				@apply mx-auto lg:mx-0;
			}
		}
	}
}

.imageSlider {
	@apply bg-lightGreyTwo py-12 pl-8 lg:pb-44 lg:pt-20;

	.container {
		@apply xl:max-w-[1700px] ml-auto px-0 flex flex-col lg:flex-row items-center justify-center gap-8 -m-4;

		.slide {
			@apply w-full h-[350px] lg:h-[650px] bg-cover bg-center bg-no-repeat;
		}

		// Club Partners Page Image Slider
		.swiper-button-prev,
		.swiper-button-next {
			@apply mt-64 lg:mt-0 w-16 h-16 p-8 border-2 border-primary-default hover:border-primary-dark text-primary-default hover:text-primary-dark;

			top: 85% !important;

			@media screen and (min-width: 1024px) {
				top: 50% !important;
			}
		}

		.swiper-button-prev::after {
			content: "next";
			@apply w-[15px] h-[15px] text-[15px] text-white font-extrabold rotate-180 #{!important};
		}

		.swiper-button-next::after {
			content: "next";
			@apply w-[15px] h-[15px] text-[15px] text-white font-extrabold #{!important};
		}
	}
}
