.iconOne,
.iconTwo,
.iconThree {
	@apply absolute left-0 top-1/2 w-[40px] h-[4px] bg-white;
	transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.iconOne {
	@apply delay-100 opacity-100 translate-y-[-8px];
}

.iconThree {
	@apply delay-300 opacity-100 translate-y-[8px];
}

.hamburger-icon {
	@apply relative py-4 h-full w-full mx-auto;
}

.iconOne-active {
	@apply absolute left-0 top-1/2 w-[40px] h-[4px] ml-[0.40rem] bg-white opacity-100 rotate-[40deg] transition-all ease-in-out duration-500;
}

.iconThree-active {
	@apply absolute left-0 top-1/2 w-[40px] h-[4px] ml-[0.40rem] bg-white opacity-100 rotate-[-40deg] transition-all ease-in-out duration-500;
}

.iconTwo-active {
	@apply opacity-0;
}

.megaMenu {
	@apply bg-primary-dark absolute z-10 top-0 right-0 overflow-y-visible overflow-x-hidden h-screen w-full opacity-100 bg-cover bg-no-repeat bg-center;
	animation: hideMegaMenu 1.25s ease forwards;
}

.megaMenu-active {
	@apply absolute z-10 top-0 right-0 overflow-y-visible overflow-x-hidden min-h-screen h-full w-full opacity-100 bg-primary-dark;
	animation: showMegaMenu 1.25s ease forwards;

	.megaMenu-content {
		&::-webkit-scrollbar {
			@apply block w-[0.90rem] h-[0.90rem];
		}

		&::-webkit-scrollbar-track {
			@apply bg-primary-dark;
		}

		&::-webkit-scrollbar-thumb {
			@apply rounded-[2px] bg-tertiary-two transition-all duration-500 hover:bg-primary-default;
		}
	}
}

@keyframes showMegaMenu {
	from {
		@apply hidden top-[-100vh];
	}
	to {
		@apply block top-[0vh];
	}
}

@keyframes hideMegaMenu {
	from {
		@apply block top-[0vh];
	}
	to {
		@apply hidden top-[-100vh];
	}
}
