.iconOne,
.iconTwo,
.iconThree {
	@apply absolute left-0 top-1/2 w-[40px] h-[4px] bg-white;
	transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
}

.iconOne {
	@apply delay-100 opacity-100 translate-y-[-8px];
}

.iconThree {
	@apply delay-300 opacity-100 translate-y-[8px];
}

.hamburger-icon {
	@apply relative py-4 h-full w-full;
}

.iconOne-active {
	@apply opacity-100 rotate-[40deg];
}

.iconThree-active {
	@apply opacity-100 rotate-[-40deg];
}

.iconTwo-active {
	@apply opacity-0;
}

.clear {
	clear: both;
}

.sideMenu {
	@apply bg-primary-dark bg-center absolute z-10 top-0 right-0 h-screen w-full opacity-100;

	-webkit-animation: hideSideMenu 1.25s ease forwards;
	-moz-animation: hideSideMenu 1.25s ease forwards;
	-o-animation: hideSideMenu 1.25s ease forwards;
	animation: hideSideMenu 1.25s ease forwards;

	ul {
		margin: 0;
		position: absolute;
		top: 30%;
		right: 40%;

		li {
			list-style: none;
			font-size: 24px;
			color: #fff;
			line-height: 2.2;
			text-transform: uppercase;
			letter-spacing: 1.7px;
		}
	}
}

.sideMenu-active {
	@apply absolute z-10 top-0 right-0 min-h-screen h-full w-full opacity-100 bg-primary-dark;

	-webkit-animation: showSideMenu 1.25s ease forwards;
	-moz-animation: showSideMenu 1.25s ease forwards;
	-o-animation: showSideMenu 1.25s ease forwards;
	animation: showSideMenu 1.25s ease forwards;
}

@keyframes showSideMenu {
	from {
		@apply hidden top-[-100vh];
	}
	to {
		@apply block top-[0vh];
	}
}

@-webkit-keyframes showSideMenu {
	from {
		@apply hidden top-[-100vh];
	}
	to {
		@apply block top-[0vh];
	}
}

@-moz-keyframes showSideMenu {
	from {
		@apply hidden top-[-100vh];
	}
	to {
		@apply block top-[0vh];
	}
}

@keyframes hideSideMenu {
	from {
		@apply block top-[0vh];
	}
	to {
		@apply hidden top-[-100vh];
	}
}

@-webkit-keyframes hideSideMenu {
	from {
		@apply block top-[0vh];
	}
	to {
		@apply hidden top-[-100vh];
	}
}

@-moz-keyframes hideSideMenu {
	from {
		@apply block top-[0vh];
	}
	to {
		@apply hidden top-[-100vh];
	}
}
