// Imports
@import "../../base/fonts";
@import "../../base/colors";

.paragraph {
	h2,
	h3,
	h4,
	h5 {
		font-family: $body;
		@apply text-xl py-4 font-XenonNueBold uppercase;
	}

	h2 {
		strong {
			@apply tracking-tight font-XenonNueBold;
		}
	}

	ul,
	ol {
		@apply p-4 flex gap-2 sm:px-6 flex-col items-baseline justify-center border-l-2 border-primary-two;

		li {
			@apply px-2 list-disc text-left ml-4;

			&::marker {
				@apply ml-2;
			}

			a {
				@apply font-semibold underline text-primary-two hover:text-primary-dark transition-all ease-in-out duration-500;
			}
		}
	}

	p {
		a {
			@apply font-semibold underline text-primary-two hover:text-primary-dark transition-all ease-in-out duration-500;
		}

		img {
			@apply object-cover object-center w-full h-full max-h-[350px] sm:max-h-[400px];
		}
	}
}
