// Colours Variables
$black: #111;
$grey: #cecece;
$white: #ffffff;
$pureBlack: #000;
$darkGrey: #8f8f8f;
$lightGrey: #f5f5f5;
$lightBlack: #292929;
$lightGreyTwo: #fafafa;

// Main Colours
$primary-default: #fa0008;
$primary-two: #ea1d25;
$primary-three: #c90a12;
$primary-dark: #99070e;

$accent-default: #2563eb;
$accent-two: #3978ff;
$accent-dark: #103fac;
$accent-darker: #24315f;

$tertiary-default: #ffb000;
$tertiary-light: #ffca10;
$tertiary-two: #fb8c00;
$tertiary-dark: #91744c;

$quaternary-default: #d7d3d3;
$quaternary-two: #cccccc;
$quaternary-dark: #a4a4a4;
