/*===== FONTS =====*/
@font-face {
	font-family: XenonNueExtraBold;
	src: url("../fonts/XenonNue-ExtraBold.woff");
}

@font-face {
	font-family: XenonNueBold;
	src: url("../fonts/XenonNue-Bold.woff");
}

@font-face {
	font-family: XenonNueRegular;
	src: url("../fonts/XenonNue-Regular.woff");
}

@font-face {
	font-family: OverusedGroteskLight;
	src: url("../fonts/OverusedGrotesk-Light.woff");
}

// Font Stack Properties
$main: "XenonNueBold";
$secondary: "XenonNueRegular";
$tertiary: "XenonNueExtraBold";
$body: "OverusedGroteskLight", "Inter";

.font-XenonNueExtraBold {
	font-family: $tertiary;
}

.font-XenonNueBold {
	font-family: $main;
}

.font-XenonNueRegular {
	font-family: $secondary;
}

.font-OverusedGroteskLight {
	font-family: $body;
}
