/*===== FONTS =====*/
@font-face {
	font-family: TeachersExtraBold;
	src: url("../fonts/Teachers-ExtraBold.woff");
}

@font-face {
	font-family: PlusJakartaSans;
	src: url("../fonts/PlusJakartaSans.woff");
}

@font-face {
	font-family: Kanit;
	src: url("../fonts/Kanit-Regular.woff");
}

// Font Stack Properties
$main: "Kanit";
$secondary: "TeachersExtraBold";
$body: "PlusJakartaSans", "Inter";

.font-Kanit {
	font-family: $main;
}

.font-TeachersExtraBold {
	font-family: $secondary;
}

.font-PlusJakartaSans {
	font-family: $body;
}
