/*===== FONTS =====*/
@font-face {
	font-family: OverusedGroteskExtraBold;
	src: url("../fonts/OverusedGrotesk-ExtraBold.woff");
}

@font-face {
	font-family: OverusedGroteskBold;
	src: url("../fonts/OverusedGrotesk-Bold.woff");
}

@font-face {
	font-family: OverusedGroteskLight;
	src: url("../fonts/OverusedGrotesk-Light.woff");
}

// Font Stack Properties
$main: "OverusedGroteskExtraBold";
$secondary: "OverusedGroteskBold";
$body: "OverusedGroteskLight", "Inter";

.font-OverusedGroteskExtraBold {
	font-family: $main;
}

.font-OverusedGroteskBold {
	font-family: $secondary;
}

.font-OverusedGroteskLight {
	font-family: $body;
}
