.navbar {
	@apply z-[999] w-full fixed bg-transparent;

	.topNavigation {
		@apply py-1 px-4 relative z-10 bg-white items-center justify-between gap-4;

		.leftSide,
		.rightSide {
			@apply w-full flex items-center justify-start gap-4;

			.image {
				@apply hidden lg:block object-contain object-center w-full max-w-[50px] h-[30px] 2xl:h-[40px];
			}
		}

		.rightSide {
			@apply flex items-center justify-between gap-4;

			.simbaLogin,
			.simbaFoundation {
				@apply w-full hidden md:flex items-center justify-end font-secondary capitalize tracking-[-0.02rem] text-pureBlack text-sm 2xl:text-tiny text-center hover:underline hover:text-primary-default transition-all ease-in-out duration-500;
			}

			// Google Translate Navigation SVG
			.googleTranslate {
				@apply relative min-w-[20px] hidden md:flex items-center justify-center gap-6 sm:gap-8;

				.revealGoogleTranslateOptions {
					@apply p-0 text-pureBlack transition duration-200 rounded-sm flex flex-row items-center justify-center gap-3;

					.svg {
						@apply block w-full max-w-[30px] h-[17.5px] 2xl:h-[20px] object-contain object-center;
					}
				}

				.closeGoogleTranslateSVG {
					@apply block ml-2;

					.svg {
						@apply w-[17.5px] h-[17.5px] 2xl:w-[20px] 2xl:h-[20px] object-contain object-center;
					}
				}

				.translateOptions {
					@apply absolute p-4 pb-0 bg-grey w-fit top-[32px] right-[-30px];
				}
			}

			.divider {
				@apply hidden md:flex mx-3 h-[25px] w-[1px] bg-grey;
			}

			.socialLinks {
				@apply hidden md:flex items-center justify-center gap-6 text-center;

				.link {
					@apply inline-block text-primary-default;

					.svg,
					.svgAlt,
					.svgAltTwo {
						@apply w-[15px] h-[15px] 2xl:w-[17.5px] 2xl:h-[17.5px] fill-primary-default hover:fill-primary-dark transition-all duration-500 ease-in-out;
					}

					.svgAlt,
					.svgAltTwo {
						@apply w-[22px] h-[22px] 2xl:w-[25px] 2xl:h-[25px];
					}
					.svgAlt {
						@apply mt-[2px];
					}

					.svgAltTwo {
						@apply w-[17.5px] h-[17.5px] 2xl:w-[25px] 2xl:h-[25px];
					}
				}
			}
		}
	}

	.mainNavigation {
		@apply h-full flex items-center justify-between bg-lightGreyTwo pl-2 lg:pl-4;

		.logo {
			@apply w-auto;

			.image {
				@apply px-0 py-[2px] md:py-[1px] object-contain object-center w-fit h-[45px] md:w-fit 2xl:h-[55px];
			}
		}

		.navigation {
			@apply w-auto flex flex-wrap items-center;

			.wrapper {
				@apply w-auto hidden xl:block;

				.ul {
					@apply flex items-center gap-8;

					.li {
						@apply hidden lg:block;

						.link {
							@apply font-secondaryBold uppercase text-pureBlack text-sm 2xl:text-tiny text-center tracking-[-0.02rem] hover:text-primary-default transition-all ease-in-out duration-500;
						}
					}
				}
			}
		}

		.megaNavigationMenuButton {
			@apply relative z-20 w-1/4 md:w-1/6 lg:w-[8%] h-full px-3 py-2 flex flex-col items-center justify-center cursor-pointer bg-no-repeat bg-center transition-all ease-in-out duration-500;

			.button {
				.text {
					@apply mt-1 md:mt-0 flex w-full ml-[4px] font-secondaryBold uppercase text-white text-center text-xs;
				}

				.hamburgerIcon {
					@apply relative py-3 md:py-4 mr-8 md:ml-[2px] h-full w-full mx-auto flex items-center justify-center;

					.iconOne,
					.iconTwo,
					.iconThree {
						@apply absolute lg:left-0 lg:top-1/2 w-[40px] h-[3px] bg-white;
						transition: all 400ms cubic-bezier(0.84, 0.06, 0.52, 1.8);
					}

					.iconOne {
						@apply delay-100 opacity-100 translate-y-[-8px];
					}

					.iconThree {
						@apply delay-300 opacity-100 translate-y-[8px];
					}

					// Active state
					.iconOneActive {
						@apply absolute left-0 top-1/2 w-[40px] h-[4px] ml-[0.40rem] bg-white opacity-100 rotate-[40deg] transition-all ease-in-out duration-500;
					}

					.iconThreeActive {
						@apply absolute left-0 top-1/2 w-[40px] h-[4px] ml-[0.40rem] bg-white opacity-100 rotate-[-40deg] transition-all ease-in-out duration-500;
					}

					.iconTwoActive {
						@apply opacity-0;
					}
				}
			}
		}
	}

	.megaMenuActive,
	.megaNavigation {
		.megaMenuContent {
			@apply relative z-10 overflow-y-visible overflow-x-hidden min-h-screen h-full w-full px-10 pb-32 pt-20 lg:pt-32 flex flex-col bg-primary-default bg-cover bg-no-repeat bg-center;

			.wrapper {
				@apply max-w-[1900px] mx-auto h-full w-full px-0 lg:px-10 lg:pb-0 flex flex-col justify-between gap-10;

				.mainMegaNavLinksWrapper {
					@apply flex flex-col lg:flex-row items-start lg:gap-10 xl:gap-24;

					.mobile {
						@apply w-full lg:w-1/2 flex flex-col items-baseline justify-end gap-2;

						.text {
							@apply font-primary cursor-pointer uppercase text-white hover:text-primary-dark text-left md:text-center text-3xl md:text-5xl tracking-wide leading-[2.25rem] md:leading-tight;
						}

						.ulWrapper {
							@apply w-full flex lg:hidden;

							.ul {
								@apply grid grid-cols-1 lg:grid-cols-2 items-center justify-center gap-2 my-6 p-4 border-l-2 border-tertiary-two;

								.link {
									@apply font-secondary font-normal leading-none text-white hover:text-primary-dark text-lg text-center;
								}
							}
						}
					}

					.desktop {
						@apply hidden lg:flex w-full lg:w-1/2 flex-col gap-12;

						.ul {
							@apply grid grid-cols-1 lg:grid-cols-2 items-center justify-center gap-2 my-6 p-4 border-l-2 border-tertiary-two;

							.link {
								@apply font-secondary text-white hover:text-primary-dark text-medium text-center;
							}
						}
					}
				}

				.aboutSimbaLinksWrapper {
					@apply flex flex-col items-baseline justify-center gap-6;

					.text {
						@apply font-secondary text-white hover:text-primary-dark text-medium text-left;
					}

					.ul {
						@apply flex flex-col gap-0 items-baseline justify-start;

						li {
							@apply self-start;

							.link {
								@apply font-primary uppercase text-white hover:text-primary-dark text-left md:text-center text-3xl md:text-5xl tracking-wide leading-[2.25rem] md:leading-tight;
							}
						}
					}
				}

				.additionalLinks {
					@apply w-full px-0 py-4 lg:py-10 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-10 md:gap-20;

					.column {
						@apply p-0 flex flex-col items-end lg:items-baseline gap-6;

						.text {
							@apply font-primary text-white uppercase text-left text-3xl md:text-2xl tracking-wide leading-tight;
						}

						.ul {
							@apply w-full flex flex-col items-end lg:items-baseline justify-center gap-0;

							.li {
								@apply w-full p-0 flex flex-col items-end lg:items-baseline;

								.link {
									@apply w-full font-secondary text-white hover:text-pureBlack text-medium text-right lg:text-left;
								}
							}
						}
					}

					.downloadApps {
						@apply p-0 w-full h-full flex flex-col items-end md:items-center gap-4;

						.title {
							@apply w-full mb-5 font-primary text-white uppercase text-left md:text-center text-3xl md:text-2xl tracking-wide leading-[2.25rem] md:leading-tight;
						}

						.appsOptions {
							@apply w-full flex flex-col sm:flex-row items-center justify-end lg:justify-center gap-4;

							.link {
								@apply font-secondary text-pureBlack transition-all duration-200 ease-in-out text-tiny hover:text-primary-default;

								.image,
								.imageTwo {
									@apply object-contain object-center;
								}

								.image {
									@apply w-[100px] h-[40px];
								}

								.imageTwo {
									@apply w-[135px] h-[40px];
								}
							}
						}
					}
				}

				.socialLinks {
					@apply w-full p-0 flex items-center justify-end lg:justify-center gap-6 text-center;

					.link {
						@apply w-full h-full inline-block;

						.svg,
						.svgAlt,
						.svgAltTwo {
							@apply w-[20px] h-[20px] fill-white hover:fill-primary-default transition-all duration-500 ease-in-out;

							path {
								@apply w-full h-full;
							}
						}

						.svgAlt,
						.svgAltTwo {
							@apply w-[30px] h-[30px];
						}

						.svgAlt {
							@apply mt-[2px];
						}

						.svgAltTwo {
							@apply w-[25px] h-[25px];

							g {
								@apply fill-white hover:fill-primary-default transition-all duration-500 ease-in-out;
							}
						}
					}
				}

				.bluetechDigital {
					@apply w-full mb-8 pt-0 pb-10 lg:pb-5 px-4 flex flex-col items-end md:items-center justify-center;

					.link {
						@apply inline-block items-center justify-center text-white hover:text-accent-two hover:underline;

						.span {
							@apply flex items-center justify-center lg:justify-end gap-2;

							.image {
								@apply object-contain object-center w-[25px] h-[25px];
							}

							.text {
								@apply flex font-secondary max-w-lg mx-auto lg:mx-0 text-sm text-center lg:text-left;
							}
						}
					}
				}
			}
		}
	}
}

.megaMenu {
	@apply bg-primary-dark absolute z-10 top-0 right-0 overflow-y-visible overflow-x-hidden h-screen w-full opacity-100 bg-cover bg-no-repeat bg-center;
	animation: hideMegaMenu 0.75s ease forwards;
}

.megaMenuActive {
	@apply absolute z-10 top-0 right-0 overflow-y-visible overflow-x-hidden min-h-screen h-full w-full opacity-100 bg-primary-dark;
	animation: showMegaMenu 0.75s ease forwards;

	.megaMenuContent {
		&::-webkit-scrollbar {
			@apply block w-[0.90rem] h-[0.90rem];
		}

		&::-webkit-scrollbar-track {
			@apply bg-primary-darker;
		}

		&::-webkit-scrollbar-thumb {
			@apply rounded-[2px] bg-primary-dark transition-all duration-500 hover:bg-pureBlack;
		}
	}
}

@keyframes showMegaMenu {
	from {
		@apply hidden top-[-100vh];
	}
	to {
		@apply block top-[0vh];
	}
}

@keyframes hideMegaMenu {
	from {
		@apply block top-[0vh];
	}
	to {
		@apply hidden top-[-100vh];
	}
}
