.imageSlider {
	@apply bg-lightGreyTwo py-12 pl-8 lg:pb-44 lg:pt-20;

	.container {
		@apply lg:max-w-[1700px] ml-auto px-0 flex flex-col lg:flex-row items-center justify-center gap-8 -m-4;

		.slide {
			@apply w-full h-[350px] lg:h-[650px] bg-cover bg-center bg-no-repeat;
		}

		// Club Partners Page Image Slider
		.swiper-button-prev,
		.swiper-button-next {
			@apply mt-64 lg:mt-0 w-16 h-16 p-8 border-2 border-primary-default hover:border-primary-dark text-primary-default hover:text-primary-dark;

			top: 85% !important;

			@media screen and (min-width: 1024px) {
				top: 50% !important;
			}
		}

		.swiper-button-prev::after {
			content: "next";
			@apply w-[15px] h-[15px] text-[15px] text-white font-extrabold rotate-180 #{!important};
		}

		.swiper-button-next::after {
			content: "next";
			@apply w-[15px] h-[15px] text-[15px] text-white font-extrabold #{!important};
		}
	}
}
